body { 
	padding-top: 50px; 
}
/*nav styling */
#nav {
	padding: 0px 50px;
}

/*index page styling*/
.item{
    background: #333;    
    height: 500px 
}
.carousel-caption{
	width: 100%;
	left: 0;
	right: 0;
}
#login-button, 
#register-button{
	margin-bottom: 40px;
	background-color: #757575;
}

#first_caro, 
#second_caro {
	text-align: left;
	margin-bottom: 80px;
}

#third_caro {
	text-align: left;
	margin-bottom: 195px;	
}

h1 {
	font-size: 45px;
}
.p-cap {
	font-size: 20px;
}
#panel {
	margin-top: 20px;
}
.panel-index {
	height: 100px;
}

/*login page styling*/
.login-main {
	padding-bottom: 16%;
}
.header{
	font-family: "trebuchet ms", sans-serif; 
	font-size: 25px;
	margin:10px 0px;
}
.user-panel {
	margin-top: 30px;
}



#register_header,
#admin_header, 
#new_header,
#user_name{
	margin: 20px 0px;
	font-family: "trebuchet ms", sans-serif;  

}
#admin_header, #admin_form {
	display: inline-block;

}

#admin_table th,
#users_table th {
	background-color: silver;
}
#errors p, #success{
	color: red;

}
#errors {
	border: 1px solid silver;
}
.info{
	display: inline-block;
	width: 120px;
	font-weight: bold;
}

.post_message, .post_comment {
	padding: 10px;
	border: 1px solid silver;
}

/*footer styling*/
.footer {
	background-color: #AA3F36;
	color: #e0e0e0;
	padding-top: 10px;
	margin-top: 60px;
}

#footer-text {
	text-align: center;
	font-family: 10px;
}

